 <div class="nested-fields">

  <div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
     <%= f.input :answer_description, input_html: { class: "mdl-textfield__input"},
	 	 label_html: {class: "mdl-textfield__label"}, label: "Seçenek Açıklaması" %>
  </div>

  <div class="mdl-cell mdl-cell--12-col">	
 	<%= image_tag(@question.answers.first.image_url) if @question.answers.first.image? %>
    <%= f.input :image,as: :file, label: false %>
    <%= f.input :image_cache , as: :hidden %>
  </div>

  </br>
 	<%= link_to_remove_association "- Bu seçeneği sil", f %>
</div>
