<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="mdl-grid" style="width: 40%">
  <div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.label "Soru", class: "mdl-textfield__label" %><br>
    <%= f.text_area :question_header, class: "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
    <%= f.label :poll_id, class: "mdl-textfield__label" %><br>
    <%= f.number_field :poll_id, class: "mdl-textfield__input" %>
  </div>
  <div  class="actions mdl-cell mdl-cell--12-col">
    <%= f.submit "KAYDET", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"%>
  </div>
</div>
<% end %>
