<p id="notice"><%= notice %></p>

<p>
  <strong>Passcode:</strong>
  <%= @pass_code.passcode %>
</p>

<p>
  <strong>Poll:</strong>
  <%= @pass_code.poll_id %>
</p>

<p>
  <strong>Pass code is finished:</strong>
  <%= @pass_code.pass_code_is_finished %>
</p>

<%= link_to 'Edit', edit_pass_code_path(@pass_code) %> |
<%= link_to 'Back', pass_codes_path %>
