<%= simple_form_for(@person) do |f| %>
<%= f.error_notification %>

<div class="mdl-grid" style="width: 50%">

	<h3>Adı:</h3>
	<div  class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col ">
		<%=f.input :person_first_name, input_html: { class: "mdl-textfield__input "},label_html:{class: "mdl-textfield__label"}, label: "_" %>
	</div>

	<h3>Soyadı:</h3>
	<div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col ">
		<%=f.input :person_last_name, input_html: { class: "mdl-textfield__input "},label_html:{class: "mdl-textfield__label"}, label: "_" %>
	</div>

	<h3>Doğum Tarihi:</h3>
	<div class="mdl-cell mdl-cell--12-col">
		<%=f.input :person_birthday, html5: true, label: false %>
	</div>

	<h3>Genel Bilgi:</h3>
	<div class="field mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col ">
		<%=f.input :person_descr, input_html: { class: "mdl-textfield__input "},label_html:{class: "mdl-textfield__label"}, label: "_" %>
	</div>
	
</div>

<div class="form-actions">
	<%= f.button :submit, "KAYDET", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" %>
</div>
<% end %>
