<div ng-app="pollModule" ng-controller="pollCtrl">
	<p id="notice"><%= notice %></p>
	<p><b>Adı:</b> <%= @person.person_first_name %></p>
	<p><b>Soyadı:</b> <%= @person.person_last_name %></p>
	<p><b>Doğum Tarihi:</b> <%= @person.person_birthday %></p>
	<p><b>Genel Bilgiler:</b> <%= @person.person_descr %></p>
	
	
	<h3>Anket Ataması İşlemleri</h3>
	Anketler:
	<select id="anketler" ng-click="onChangePoll()" >
			<option value="">
				Lütfen anket seçiniz
			</option>
		<% Poll.all.each do |pp| %>
			<option value="<%= pp.id %>">
				<%= pp.poll_name %>
			</option>
		<%end%>
	</select>
	</br>
	Seçili anket id : {{currentPoll}}
	<%= link_to 'ATAMA YAP', URI::unescape(assignPassCode_path(:poll_id => ('{{currentPoll}}'), :person_id => @person )), method: :post,
    class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--2-col" %>

	<%if PassCode.where(person_id: @person.id).size != 0 %>
	<h4>Kişinin Atandığı Anketler ve Giriş Kodları</h4>
	
	<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Giriş Kodu</th>
      <th class="mdl-data-table__cell--non-numeric">Anket</th>
      <th class="mdl-data-table__cell--non-numeric"></th>
    </tr>
  </thead>

  <tbody>
    <% PassCode.where(person_id: @person.id).each do |pass_code| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= pass_code.passcode %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= Poll.find(pass_code.poll_id).poll_name %>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'SİL', removePassCodeFromPerson_path(:pass_code_id => pass_code.id, :person_id => @person ), method: :post,
    class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--2-col", data: { confirm: 'Bu işlem kişinin bu Giriş koduna ait bütün bilgilerini silecektir  !.  Emin misiniz ?' } %></td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
	<h4>Kişi herhangi bir ankete atanmamış !</h4>
<% end %>
</br>

	<%= link_to 'KİŞİYİ DÜZENLE', edit_person_path(@person), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
	<%= link_to 'GERİ', people_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
</div>