
<p id="notice"><%= notice %></p>

<p>
  <strong>Anket Adı:</strong>
  <%= @poll.poll_name %>
</p>

<p>
  <strong>Açıklaması:</strong>
  <%= @poll.poll_description %>

</p>
<div class="digg_pagination"  ng-app="pollModule" ng-controller="pollCtrl">
  <%= will_paginate @poll_questions, :params => { :passcod => params[:passcod] },:page_links => false%>
    <% @poll_questions.each do |poll_question| %>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <p>u
          <b>Soru:</b> <%= poll_question.question_header %>
        </p>
      </div>
      <div class="mdl-cell mdl-cell--12-col">

    <% poll_question.answers.each do |answer| %>
          <button class="mdl-cell mdl-cell--6-col" ng-click="id_ekle_cikar(<%= answer.id %>)"><%= image_tag answer.img.url,style:"width:50%;height:50%;"%></button>
		<%end%>
    </div>
	</div>
    <% end %>
    <%= link_to 'KAYDET VE BİTİR', URI::unescape(record_path(:idler => ('{{idler_array}}'), :passcod => params[:passcod] )), method: :post,
     class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent  mdl-cell mdl-cell--2-col" %>
     {{idler_array}}
</table>

  </div>
