
<p id="notice"><%= notice %></p>


<div ng-app="pollModule" ng-controller="pollCtrl">
  <div class="digg_pagination" data-ng-init="idlerSenkron()">
    <div class="mdl-grid">
    <% @poll_questions.each do |poll_question| %>

      <div class="mdl-cell mdl-cell--12-col">
        <p>
          <b>Soru:</b> <%= poll_question.question_header %>
        </p>
      </div>
      <div class="mdl-grid">
        <% poll_question.answers.each do |answer| %>
        <div class="mdl-cell mdl-cell--6-col">

          <button class="surveyanswerbutton" ng-click="id_ekle_cikar(<%= answer.id %>)" ng-class="surveyButtonClass(<%= answer.id %>)">
            buraya resim eklencek
            <p style="border-top: 3px solid #E91E63">
              <%= answer.answer_description %>
            </p>
          </button>
        </div>
        <%end%>
      </div>
      <% end %>
    </div>
    <%= will_paginate @poll_questions, :params => { :passcod => params[:passcod] },:page_links => false%>

    <%= link_to 'KAYDET VE BİTİR', URI::unescape(record_path(:idler => ('{{idler_array}}'), :passcod => params[:passcod] )), method: :post,
    class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--2-col", data: { confirm: 'Kayıtlarınız sisteme kaydedilecek ve ankete tekrar katılamayacaksınız ! Bitirmek istediğinize emin misiniz ?' } %>


</div>
</div>
