
<p id="notice"><%= notice %></p>

<p>
  <strong>Anket Adı:</strong>
  <%= @poll.poll_name %>
</p>

<p>
  <strong>Açıklaması:</strong>
  <%= @poll.poll_description %>

</p>
<% if @poll_questions.length != 0 %>
<div class="digg_pagination">
  <%= will_paginate @poll_questions, :params => { :passcod => params[:passcod] },:page_links => false%>
    <% @poll_questions.each do |poll_question| %>
    <div class="mdl-grid">
    <% poll_question.answers.each do |question| %>
    	<div class="mdl-cell mdl-cell--6-col">  
			<%= image_tag question.img.url,style:"width:100%;height:100%;"%>
			<label for="chkbox1">
		  <input type="checkbox" id="chkbox1">
		</label>
    	</div>
		<%end%>
	</div>
    <% end %>

</table>
<% else %>
  <p>
    Bu ankette hiç bir soru bulunmuyor !
  </p>
  </div>
<% end %>





