<p id="notice"><%= notice %></p>

<p>
  <strong>Seçenek Resmi:</strong>
</br>
  <%= image_tag @answer.img.url %>
</p>

<p>
  <strong>Açıklama:</strong>
  <%= @answer.answer_description %>
</p>

<%= link_to 'DÜZENLE', edit_answer_path(@answer), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" %>
<%= link_to 'GERİ', question_path(@question), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" %>
