

<h2>ANKETLER</h2>
<% if @polls.length != 0 %>

<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">AD</th>
      <th class="mdl-data-table__cell--non-numeric">AÇIKLAMA</th>
      <th class="mdl-data-table__cell--non-numeric">BAŞLAMA TARİHİ</th>
      <th class="mdl-data-table__cell--non-numeric">BİTİŞ TARİHİ</th>
      <th class="mdl-data-table__cell--non-numeric" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to poll.poll_name, poll %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= poll.poll_description %></td>
        <td><%= poll.poll_start_date %></td>
        <td><%= poll.poll_finish_date %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'DÜZENLE', edit_poll_path(poll), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"  %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'SİL', poll, method: :delete, data: { confirm: 'Anket silinecek! Emin misiniz ?' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>
    Sistemde hiç bir anket kayıtlı değil !
  </p>
<% end %>
<br>

<%= link_to 'ANKET EKLE', new_poll_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" %>
