<p id="notice"><%= notice %></p>

<h2>YÖNETİCİLER</h2>

<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">E-Mail</th>
      <th class="mdl-data-table__cell--non-numeric">Girişler</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |admin| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= admin.email %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= admin.sign_in_count %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'GÖSTER', admin_user_path(admin), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'DÜZENLE', edit_admin_user_path(admin), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'SİL', admin_user_path(admin), method: :delete, data: { confirm: 'Yönetici silinecek! Emin misiniz ?' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'YÖNETİCİ EKLE', new_admin_user_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"  %>
