<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#lannister-panel" class="mdl-tabs__tab is-active">GİRİŞ KODUNA AİT GENEL BİLGİLER</a>
    <a href="#starks-panel" class="mdl-tabs__tab">ANKETE VERİLEN YANITLAR</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="lannister-panel">
    <p><b>Anket Adı : </b> <%= @pass_code.poll.poll_name %></p>
    <p>
    <b>Atandığı Kişi :</b>
    <% if @pass_code.person != nil %>
      <%= @pass_code.person.person_first_name + " " + @pass_code.person.person_last_name %>
    <% else %>
      Yok
    <% end %>
    </p>

    <p><b>Giriş Kodunun Oluşturulma Zamanı :</b> <%=@pass_code.created_at.strftime("%Y-%m-%d | %H:%M")%></p>

    <p><b>Anketin Yanıtlanma Zamanı :</b> <%=@pass_code.updated_at.strftime("%Y-%m-%d | %H:%M")%></p>
  </div>
  <div class="mdl-tabs__panel mdl-grid" id="starks-panel">
    <%d=0%>
    <%@questions.each do |pq|%>
    <%d=d+1%>
    <h3 class="mdl-cell mdl-cell--12-col">Soru <%=d%> : <%=pq.question_header%></h3>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-grid  mdl-cell mdl-cell--10-col">
    <div class="mdl-grid mdl-cell mdl-cell--12-col" style="align-content: center !important; justify-content: center !important" >
      <%pq.answers.each do |pqa|%>
        <div class="mdl-cell mdl-cell--4-col">
            <% if pqa.image.filename != nil && pqa.answer_description.size != 0 %>
                <div class="demo-card-square mdl-card mdl-shadow--2dp unselectable">
                  <%= image_tag pqa.image_url, class: "answer_image" %>
                  <%= pqa.answer_description %>
                  <div class="mdl-card__title mdl-card--expand"></div>
                  <div class="mdl-card__actions mdl-card--border">
                    <p>Seçilme Durumu
                    <% if Record.where(:pass_code_id => @pass_code.id, :answer_id => pqa.id).any? %>
                    <i class="material-icons">done</i>
                    <% else %>
                    <i class="material-icons">highlight_off</i>
                    <% end %>
                  </p>
                                  
                  </div>
                </div>
            
            <% elsif pqa.image.filename == nil && pqa.answer_description.size != 0 %>
                <div class="demo-card-square mdl-card mdl-shadow--2dp unselectable">
                    <div class="onlyDescriptionForAdmin">
                      <p><%= pqa.answer_description %></p>
                    </div>
                  <div class="mdl-card__title mdl-card--expand"></div>
                  <div class="mdl-card__actions mdl-card--border">
                    <p>Seçilme Durumu
                    <% if Record.where(:pass_code_id => @pass_code.id, :answer_id => pqa.id).any? %>
                    <i class="material-icons">done</i>
                    <% else %>
                    <i class="material-icons">highlight_off</i>
                    <% end %>
                  </p>
                                  
                  </div>
                </div>

            <% elsif pqa.image.filename != nil && pqa.answer_description.size == 0 %>
                <div class="demo-card-square mdl-card mdl-shadow--2dp unselectable">
                  <%= image_tag pqa.image_url, class: "onlyImage" %>
                  <%= pqa.answer_description %>
                  <div class="mdl-card__title mdl-card--expand"></div>
                  <div class="mdl-card__actions mdl-card--border">
                    <p>Seçilme Durumu
                    <% if Record.where(:pass_code_id => @pass_code.id, :answer_id => pqa.id).any? %>
                    <i class="material-icons">done</i>
                    <% else %>
                    <i class="material-icons">highlight_off</i>
                    <% end %>
                  </p>
                                  
                  </div>
                </div>

            <%end%>
    </div>
      <%end%>
      </div>
      </div>
    <%end%>

  </div>
