<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#lannister-panel" class="mdl-tabs__tab is-active">GİRİŞ KODUNA AİT GENEL BİLGİLER</a>
    <a href="#starks-panel" class="mdl-tabs__tab">ANKETE VERİLEN YANITLAR</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="lannister-panel">
    <p>Giriş Kodunun Oluşturulma Zamanı :<%=@pass_code.created_at.strftime("%Y-%m-%d | %H:%M")%></p>
    <p>Anketin Yanıtlanma Zamanı :<%=@pass_code.updated_at.strftime("%Y-%m-%d | %H:%M")%></p>
  </div>
  <div class="mdl-tabs__panel mdl-grid" id="starks-panel">
    <%d=0%>
    <%@questions.each do |pq|%>
    <%d=d+1%>
    <h3 class=" mdl-cell mdl-cell--12-col">Soru <%=d%> : <%=pq.question_header%></h3>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-grid  mdl-cell mdl-cell--10-col">

      <%pq.answers.each do |pqa|%>
      <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <%= image_tag pqa.image.url, class: "reports_answer_image"%>
        <div class="mdl-card__title mdl-card--expand">

        </div>
        <div class="mdl-card__supporting-text">
          <p><%= pqa.answer_description %></p>

        </div>
        <div class="mdl-card__actions mdl-card--border">
          <p>Seçilme Durumu
            <% if Record.where(:pass_code_id => @pass_code.id, :answer_id => pqa.id).any? %>
            <i class="material-icons">done</i>
            <% else %>
            <i class="material-icons">highlight_off</i>
            <% end %>
          </p>
        </div>
      </div>
      <%end%>
      </div>
    <%end%>

  </div>
