<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
      	<a href="#lannister-panel" class="mdl-tabs__tab  is-active">ANKET BİLGİLERİ</a>
          <a href="#starks-panel" class="mdl-tabs__tab">Sorular</a>
          <a href="#targaryens-panel" class="mdl-tabs__tab ">Giriş Kodları</a>
      </div>

      <div class="mdl-tabs__panel  is-active" id="lannister-panel">

          <%c=0%>
          <p>Anket adı : <%=@poll.poll_name%></p>
          <p>Soru Sayısı : <%=@poll.questions.count%>
          <p>Çözülmeyi bekleyen giriş kod sayisi : <%=@poll.pass_codes.count%>
          <%@poll.pass_codes.each do |ps|%>

            <% ps.records.each do |psr|%>
              <%c=c+1%>
            <%end%>

          <%end%>
        <p>Cevaplayan Kişi Sayısı : <%=c%></p>

        <p>Başlangıç Tarihi :<%=@poll.poll_start_date.strftime("%Y-%m-%d | %H:%M")%></p>
        <p>Bitiş Tarihi :<%=@poll.poll_finish_date.strftime("%Y-%m-%d | %H:%M")%></p>

      </div>
       <div class="mdl-tabs__panel" id="starks-panel">
       		<%@poll.questions.each do |pq|%>
       			<%=pq.question_header%>
       			
       		<%end%>
      </div>
      <div class="mdl-tabs__panel" id="targaryens-panel">
          <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Giriş Kodları</th>
              <th class="mdl-data-table__cell--non-numeric">Bitirdi</th>
            </tr>
          </thead>
          <tbody>
          <div class="digg_pagination">
            <%= will_paginate @poll_passcodes%>
              <%@poll_passcodes.each do |ps|%>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"><%=link_to ps.passcode,reportpasscode_path(:id => ps)%></td>
                <td class="mdl-data-table__cell--non-numeric">
                  <%if ps.pass_code_is_finished%>
                    <i class="material-icons">done</i>
                  <%else%>
                  <i class="material-icons">highlight_off</i>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </div>
   
          </tbody>
        </table>
      </div>

