<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

  <div class="mdl-tabs__tab-bar">
   <a href="#lannister-panel" class="mdl-tabs__tab ">ANKET BİLGİLERİ</a>
   <a href="#starks-panel" class="mdl-tabs__tab">SORULARIN RAPORU</a>
   <a href="#targaryens-panel" class="mdl-tabs__tab  is-active">GİRİŞ KODLARI</a>
 </div>
</br>
<div class="mdl-tabs__panel" id="lannister-panel">

  <%c=0%>
  <%@poll.pass_codes.each do |ps|%>

  <%if ps.pass_code_is_finished %>
  <%c=c+1%>
  <%end%>

  <%end%>
  <p>Anket adı : <%=@poll.poll_name%></p>
  <p>Anket açıklaması : <%=@poll.poll_description%></p>
  <p>Soru Sayısı : <%=@poll.questions.count%>
    <p>Kullanılmamış giriş kodu sayısı : <%=@poll.pass_codes.count-c%>

      <p>Cevaplayan Kişi Sayısı : <%=c%></p>

      <p>Başlangıç Tarihi :<%=@poll.poll_start_date.strftime("%Y-%m-%d | %H:%M")%></p>
      <p>Bitiş Tarihi :<%=@poll.poll_finish_date.strftime("%Y-%m-%d | %H:%M")%></p>

    </div>

    <div class="mdl-tabs__panel mdl-grid" id="starks-panel">
      <%d=0%>
      <%@questions.each do |pq|%>
      <%d=d+1%>
      <h3 class="mdl-cell mdl-cell--12-col">Soru <%=d%> : <%=pq.question_header%></h3>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-grid mdl-cell mdl-cell--12-col" style="align-content: center !important; justify-content: center !important" >

        <%pq.answers.each do |pqa|%>

            <div class="mdl-cell mdl-cell--4-col">
            <% if pqa.image.filename != nil && pqa.answer_description.size != 0 %>
                <div class="demo-card-square mdl-card mdl-shadow--2dp unselectable">
                  <%= image_tag pqa.image_url, class: "answer_image" %>
                  <%= pqa.answer_description %>
                  <div class="mdl-card__title mdl-card--expand"></div>
                  <div class="mdl-card__actions mdl-card--border">
                    <p>Seçilme Sayısı : <%=pqa.records.count%></p>
                  </div>
                </div>
            
            <% elsif pqa.image.filename == nil && pqa.answer_description.size != 0 %>
                <div class="demo-card-square mdl-card mdl-shadow--2dp unselectable">
                    <div class="onlyDescriptionForAdmin">
                      <p><%= pqa.answer_description %></p>
                    </div>
                  <div class="mdl-card__title mdl-card--expand"></div>
                  <div class="mdl-card__actions mdl-card--border">
                    <p>Seçilme Sayısı : <%=pqa.records.count%></p>
                  </div>
                </div>

            <% elsif pqa.image.filename != nil && pqa.answer_description.size == 0 %>
                <div class="demo-card-square mdl-card mdl-shadow--2dp unselectable">
                  <%= image_tag pqa.image_url, class: "onlyImage" %>
                  <%= pqa.answer_description %>
                  <div class="mdl-card__title mdl-card--expand"></div>
                  <div class="mdl-card__actions mdl-card--border">
                    <p>Seçilme Sayısı : <%=pqa.records.count%></p>
                  </div>
                </div>

            <%end%>
    </div>

        <%end%>

      </div>
      <%end%>
    </div>

    <div class="mdl-tabs__panel  is-active" id="targaryens-panel">
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Giriş Kodları</th>
            <th class="mdl-data-table__cell--non-numeric">Kişi</th>
            <th class="mdl-data-table__cell--non-numeric">Bitirdi</th>
          </tr>
        </thead>
        <tbody>
          <div class="digg_pagination">
            <%= will_paginate @poll_passcodes%>
            </br>
            <p>
              Giriş kodlarına ait raporları görüntülemek için giriş kodlarına tıklayınız.
            </p>
            <%@poll_passcodes.each do |ps|%>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><%=link_to ps.passcode,reportpasscode_path(:id => ps)%></td>
              <td>
                <%if ps.person!=nil %>
                  <p style="text-align:center">
                  <%= ps.person.person_first_name + " " + ps.person.person_last_name %>
                  </p>
                <% else %>
                 <p style="text-align:center">Atama Yok</p>  
                <%end%>
              </td>

              <td class="mdl-data-table__cell--non-numeric">
                <%if ps.pass_code_is_finished%>
                <i class="material-icons">done</i>
                <%else%>
                <i class="material-icons">highlight_off</i>
                <%end%>
              </td>
            </tr>
            <% end %>
          </div>
        </tbody>
      </table>
    </div>

    </br>
