<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anket Sistemi</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="images/favicon.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'material.min', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'material.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'angular.min', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Anket Sistemi</span>
      </div>
      <!-- Tabs -->
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <%= link_to 'ANKET GİRİŞİ', home_index_path, class: "mdl-layout__tab is-active"%>
        <%= link_to 'HAKKINDA', about_path, class: "mdl-layout__tab is-active"%>
        <%= link_to 'YÖNETİCİ PANELİ', admin_session_path, class: "mdl-layout__tab is-active"%>
        <% if admin_signed_in? %>
        <%= link_to 'ÇIKIŞ', destroy_admin_session_path, class: "mdl-layout__tab is-active", method: :delete%>
        <% end %>
      </div>
    </header>
    <% if admin_signed_in? %>
    <div class="mdl-layout__drawer adminpanel">
      <span class="mdl-layout-title">YÖNETİCİ PANELİ</span>
      <nav class="mdl-navigation">
        <%= link_to 'ANKETLER', polls_path, class: "adminbtn"%>
        <%= link_to 'RAPORLAR', reports_path, class: "adminbtn"%>
        <%= link_to 'YÖNETİCİLER', admin_users_path, class: "adminbtn"%>

      </nav>
    </div>
    <% end %>
    <main class="mdl-layout__content">
      <center><%= yield %></center>
    </main>
  </div>



</body>

</html>
